<h2>Add product</h2>

<%= form_with model: @product, url:seller_index_path, method: :post do |f|%>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :stock %><br />
    <%= f.number_field :stock %>
  </div>

  <div class="field">
    <%= f.label :price %><br />
    <%= f.number_field :price %>
  </div>


  <div class="actions">
    <%= f.submit "add" %>
  </div>
<% end %>

